const Discord = require("discord.js");
const config = require("./config.json");
const client = new Discord.Client(); // Connect to Discord
const prefix = "~cal ";


client.on("message", function(message) {
    if (message.author.bot) return; // Avoid reading messages from bots
    
    // React on mention
    if (/<@!bot_id>|<@bot_id>/.test(message.content)) {
        return message.channel.send(`¡Hola! Siéntete libre de usarme con el prefijo ${prefix}. Puedes aprender más sobre mi con ${prefix}help.`);
    }

    if (!message.content.startsWith(prefix)) return; // Avoid reading messages that does NOT start with the prefix

    const commandBody = message.content.slice(prefix.length); // Save on commandBody the whole command, without prefix
    const args = commandBody.split(' '); // Save on args the different parts of the command
    const command = args.shift().toLowerCase(); // Delete first item on args and convert to lowecase the whole command.

    // COMMANDS
    // Ping
    if (command === "ping") {
        const timeTaken = Date.now() - message.createdTimestamp;
        message.channel.send(`¡Pong! ¡Hay una latencia de ${timeTaken}ms entre Discord y este bot!`);
    } 
    // Help
    else if (command === "help") {
        // No arguments
        if (args[0] == null){
            var helpEmbed = new Discord.MessageEmbed()
                .setColor('#0099ff')
                .setTitle('EzBot')
                .setURL('https://github.com/JesusSePe/')
                .setDescription('¡Bienvenido a EzCal, el bot calendario simple!')
                .addFields(
                    { name: 'utility', value:`${prefix} help utility`},
                )
                .setTimestamp()
                .setFooter('discal');
        } 
        // Utility
        else if (args[0] === "utility"){
            var helpEmbed = new Discord.MessageEmbed()
                .setColor('#0099ff')
                .setTitle('EzBot')
                .setURL('https://github.com/JesusSePe/')
                .setDescription('Utility')
                .addFields(
                    { name: `${prefix} ping`, value:'Devuelve la latencia entre la API de Discord y este bot.'},
                    { name: `${prefix} help`, value:'Devuelve todos los comandos agrupados por secciones.'}
                )
                .setTimestamp()
                .setFooter('discal');
        }
        message.channel.send(helpEmbed);
    }
    
});

client.login(config.BOT_TOKEN); // Login into the Discord bot